/*浮动*/
.fl{float:left}
.fr{float:right}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
/*** EXAMPLE ***/
#content {
	width: 100%;
}

.vue-grid-layout {
	background: #eee;
}
.vg-maincontainer{
	height: calc(100% - 40px);
}
.layoutJSON {
	background: #ddd;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
}

.eventsJSON {
	background: #ddd;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	height: 100px;
	overflow-y: scroll;
}

.columns {
	-moz-columns: 120px;
	-webkit-columns: 120px;
	columns: 120px;
}

.vue-resizable-handle {
	z-index: 5000;
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 0;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
	background-position: bottom right;
	padding: 0 3px 3px 0;
	background-repeat: no-repeat;
	background-origin: content-box;
	box-sizing: border-box;
	cursor: se-resize;
}

.vue-grid-item:not(.vue-grid-placeholder) {
	background: #ccc;
	border: 1px solid black;
}

.vue-grid-item.resizing {
	opacity: 0.9;
}

.vue-grid-item.static {
	background: #cce;
}

.vue-grid-item .text {
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
}

.vue-grid-item .no-drag {
	height: 100%;
	width: 100%;
}

.vue-grid-item .minMax {
	font-size: 12px;
}

.vue-grid-item .add {
	cursor: pointer;
}

.vue-draggable-handle {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
	background-position: bottom right;
	padding: 0 8px 8px 0;
	background-repeat: no-repeat;
	background-origin: content-box;
	box-sizing: border-box;
	cursor: pointer;
}


/*my custom*/

* {
	padding: 0;
	margin: 0;
}

html,
body,
.vg-app {
	height: 100%;
}

.vg-toolbar {
	height: 40px;
	line-height: 40px;
	box-shadow: 0 -1px 0 inset #eee;
}

.vg-item-toolbar {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.vg-app {
	font-size: 0;
}

.vg-app .iconfont {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-radius: 30px;
	/*background-color: #02A1F5;*/
	background-color: #23B7E5;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.2s ease-in-out;
	margin: 0 10px;
}
.vg-app .iconfont.fr{
	margin-top: 5px;
}
.vg-app .screeniconfont {
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	text-align: center;
	color: white;
	border-radius: 30px;
	background-color: #cccccc;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.2s ease-in-out;
	margin: 0 10px;
}
.vg-app .iconfont:active{
	/*background-color: #23B7E5;*/
	box-shadow: none;
}
.vg-app .screeniconfont:active{
	background-color: #23B7E5;
	box-shadow: none;
}
.vg-app .screeniconfont.active {
	/*background-color: #02A1F5;*/
	background-color: #23B7E5;
}
.vg-item-toolbar .iconfont {
	display: none;
}

.vg-item-toolbar.active .iconfont {
	display: block;
}

.vg-toolbar .iconfont.active {
	/*box-shadow: none;*/
	background-color: white;
	color: #02A1F5;
}

.vg-item-content {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.vg-content {
    left:0;
    top: 40px;
	height: calc(100% - 40px);
	vertical-align: middle;
	transition: all 0.2s ease;
    border-left: 1px solid lightgray;
    box-sizing: border-box;
    background-color: #eee;
    overflow: hidden;
    overflow-y: auto;
}
.items-dialog {
	width: 0;
	height: calc(100% - 40px);
	background-color: #eee;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 40px;
	transition: all 0.2s ease;
	overflow: hidden;
}

.items-dialog.active {
	width: 20vw;
}

.vg-content.active {
	/*padding-left: 200px;*/
	/*padding-left: 20vw;*/
}
.s-lg .vg-content{
	position: absolute;
	width: 80vw;
	left: 20vw;
	top: 40px;
	height: calc(100% - 40px);
	overflow: hidden;
	background-color: #eee;
	overflow-y: auto;
}
.s-md .vg-content{
	position: absolute;
	width: 80vw;
	left: 20vw;
	top: 40px;
	height: calc(100% - 40px);
	overflow: hidden;
	background-color: #eee;
	overflow-y: auto;
}
.s-sm .vg-content{
	position: absolute;
	width: 56.25vw;
	left: 31.875vw;
	top: 50%;
	height: 45vw;
	overflow: hidden;
	transform: translateY(-50%);
	background-color: #eee;
	overflow-y: auto;
}
.s-xs .vg-content{
	position: absolute;
	width: 60vw;
	left: 30vw;
	top: 50%;
	height: 45vw;
	overflow: hidden;
	transform: translateY(-50%);
	background-color: #eee;
	overflow-y: auto;
}
/*拖拽插件*/
.vg-item-content .draglist{
	width: 100%;
	height: 100%;
}
.draglist {
	padding: 10px;
	margin-bottom: 5px;
	border: 2px dashed #ccc;
	background-color: #eee;
	cursor: move;
	color:black;
	font-size: 16px;
	box-sizing: border-box;
	text-align: center;
}

.draglist:hover {
	border-color: #cad5eb;
	background-color: #E8F5F8;
}
